*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: linear-gradient(to right bottom, #D6FF7F, #00B3CC);
}
#container{
    display: grid;
    justify-content: center;
    align-content: center;   
    min-height: 100vh;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(100px, auto) repeat(5, 75px);
}
#container > button{
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    border: 1px solid white;
    // border: 10px solid gray;
    background-color: rgba(255, 255, 255, .75);
    
}#container > button:hover{
    background-color: rgba(255, 255, 255, .9);
}
#visor{
    grid-column: 1 / 5;
    // border: 15px solid gray;
    // border-bottom: 5px solid gray;
    background-color: #00B3CC;
    // text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    // color: black;
}
#cuenta{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .85); 
}
#resultado{
    font-size: 2.5rem;
    color: rgba(255, 255, 255, .9);

}
#ac{
    grid-column: span 2;
}
#equal{
    grid-column: span 2;
}
